.view_menu_grid{
    display:flex;
    flex-direction: column;
}

.view_menu_image_grid {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 2rem;
}


.view_menu_image{
    flex:1;
}

.view_menu_image img {
    width: 100%;
    height: auto;
    display: block;
}

.view_menu_image_grid:hover{
    transition:0.3s;

    transform: scale(1.03);
    border-radius: 0.5rem;
    background-color:#C5C35F ;
}