.event_grid,
.event_overlap_content,
.event_text,
.event_main_img,
.element,
.element_detail{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h4{
    margin-bottom:0;
}

h2,
h3{
    text-align: center;
}

.event_text h4{
    text-align: center;
}

.event_main_img img,
.element_detail {
    width: 80%;
}

.event_main_img img{
    padding-top:1rem;
}






